pre {
	overflow: auto;
  padding: 1.5em;
  margin-top: 0;
  border-radius: 6px;
  font-size: 12px;
  background-color: #282c34;
  color: #fff;
  box-shadow: 0px 1.5em 1em -1em #000;
}
pre code {
	font-family: Consolas,Monaco!important;
	line-height: 16px;
	margin: 0!important;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
	background-color: transparent!important;
	padding: 0!important;
	color: #fff!important;
}
#content h2 {
	position: relative;
}
#content h2:before{
  content: "";
  display: inline-block;
  width: 8px;
  height: 24px;
  background-color: #e91e63;
  margin-left: -32px;
  margin-right: 16px;
  vertical-align: middle;
}
#content code {
	padding: 4px 8px;
  border-radius: 2px;
  font-size: 0.8em;
  margin: 0 5px;
  font-family: Consolas,Monaco,monospace;
  color: #666;
  background-color: #f3f3f3;
}
#content table {
	border-spacing: 0;
  border-collapse: collapse;
	display: block;
  width: 100%;
  overflow: auto;
}
#content table td, #content table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
#content table tr {
	background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
#content table tr:nth-child(2n){
	background-color: #f6f8fa;
}
span{
	line-height: 24px;
}
#content h1 {
	text-align: center;
}
#content hr {
  border: 0 solid transparent;
  margin: 0 -2em;
  height: 32px;
  background-image: linear-gradient(135deg, #42b983 50%, transparent 50%), linear-gradient(225deg, #42b983 50%, transparent 50%);
  background-position: top left;
  background-size: 20px;
  background-repeat: repeat-x;
}
.articleMeta,.memoMeta {
	text-align: center;
}
.memoContent pre code {
  font-family: LiSu!important;
  font-size: 20px!important;
}
blockquote {
	padding-left: 2em;
  padding-right: 2em;
  margin: 2em 0;
  border-left: 5px solid #e6e6e6;
  color: #999;
}
#content ul li {
	display: block;
	position: relative;
	margin: 0 15px;
}
#content ul li:before {
  content: "\B7";
  position: absolute;
  top: -.4em;
  left: -.6em;
  margin: 0;
  font-size: 1.8em;
  color: #42b983;
}

#content img {
	width: 90%;
	margin: 2vw;
	/*transition: transform 0.5s ease;
	cursor: zoom-in;*/
	box-shadow: 0 15px 30px -15px rgba(0,0,0,.9)
}
/*#content img:hover {
	transform: scale(2);
}*/
#content ol li {
	display: list-item;
}

#content ol {
	padding-left: 10px;
}
/*

Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

/* Ocean Dark Theme */
/* https://github.com/gavsiu */
/* Original theme - https://github.com/chriskempson/base16 */

/* Ocean Comment */
.hljs-comment,
.hljs-quote {
  color: #65737e;
}

/* Ocean Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #bf616a;
}

/* Ocean Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f2a822;
}

/* Ocean Yellow */
.hljs-attribute {
  color: #98c379;
}

/* Ocean Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #a3be8c;
}

/* Ocean Blue */
.hljs-title,
.hljs-section {
  color: #61aeee;
}

/* Ocean Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #c678dd;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #2b303b;
  color: #c0c5ce;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
